body {
  width: 100%;
  height: fit-content;
  margin: 0%;
}
header {
  display: flex;
  width: 100%;
  height: 90px;
  justify-content: space-between;
  background-color: brown;
}
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 20px;
}
.logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 5px;
  background-color: white;
}
.logo h1 {
  display: inline;
  color: antiquewhite;
}
.nav {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 40px;
}
.nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.conatiner2 {
   display: flex;
   justify-content: center;
   align-items: center;
  width: 100%;
  min-height:520px;
  background-image: url("./Pics/background2.jpg");
  color: white;
  font-size: 35px;
  font-weight: bold;
}
.inner2{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.conatiner2 button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    height: 40px;
    width: 130px;
    background-color: brown;
    border-radius: 10px;
    color: antiquewhite;
    font-size: 15px;
    font-weight:700;
}
.conatiner2 button:hover{
    background-color: antiquewhite;
    color: brown;
}
.container3{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    font-size: 25px;
    color: brown;
    gap: 10px;
}
.inner3{
    width: 75%;
    height: 60%;
    border: 5px solid brown;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
}
.inner3 p{
    color: brown;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.inner3 img{
    float: right;
    width: 25%;
    height: 95%;
   border-top-right-radius: 10px;
   border-bottom-left-radius:10px ;
}
.container4{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 207, 165);
    color: brown;
}
.container4 h1{
    font-size: 35px;
    font-weight: bold;
}
.inner4{
   height: 80%;
   width: 95%;
   display: flex;
   flex-wrap: wrap;
   padding: 10px;
   gap: 50px;

}
.card{
  display: flex;
  flex-direction: column;
  height: 290px;
  width: 270px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
.card img{
  width:100% ;
  height:230px
}
.card p{
  font-weight: 700;
  line-height: 0;
}
.container4 button{
  font-size: 20px;
  padding: 10px;
  background-color: brown;
  color: antiquewhite;
  cursor: pointer;
  font-weight: 800;
  border-radius: 10%;
  margin-bottom: 10px;
}

.container5{
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 192, 124);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
